# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

EXTERNAL_URL="https://orpheflows-dev.example.com"

AUTH_TRUST_HOST=true
AUTH_SECRET="..."
AUTH_SLACK_ID=""  # slack client id
AUTH_SLACK_SECRET=""  # slack client secret

PUBLIC_SLACK_DOMAIN=""  # the [xyz].slack.com
PUBLIC_SLACK_TEAM_ID="T0266FRGM"

SLACK_APP_ID="A..."
SLACK_VERIFICATION_TOKEN="..."
SLACK_BOT_TOKEN="..."

SLACK_XOXC_TOKEN=""
SLACK_XOXD_TOKEN=""
