# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

AUTH_SECRET="..."
AUTH_SLACK_ID=""  # slack app id
AUTH_SLACK_SECRET=""  # slack app secret

SLACK_APP_ID="A..."
SLACK_VERIFICATION_TOKEN="..."
